<h2>Popular</h2>
<ul class="popular-burgers">
  <li class="popular-burger">
    <button><img class="popular-burger-picture" />
      <h3 class="popular-burger-name">Combo Meal</h3>
      <p class="popular-burger-price">$3.79</p>
    </button>

  </li>
  <li class="popular-burger">
    <button><img class="popular-burger-picture" />
      <h3 class="popular-burger-name">Combo Meal</h3>
      <p class="popular-burger-price">$3.79</p>
    </button>
  </li>
  <li class="popular-burger">
    <button><img class="popular-burger-picture" />
      <h3 class="popular-burger-name">Combo Meal</h3>
      <p class="popular-burger-price">$3.79</p>
    </button>
  </li>
  <li class="popular-burger">
    <button><img class="popular-burger-picture" />
      <h3 class="popular-burger-name">Combo Meal</h3>
      <p class="popular-burger-price">$3.79</p>
    </button>
  </li>
  <li class="popular-burger">
    <button><img class="popular-burger-picture" />
      <h3 class="popular-burger-name">Combo Meal</h3>
      <p class="popular-burger-price">$3.79</p>
    </button>
  </li>
  <li class="popular-burger">
    <button><img class="popular-burger-picture" />
      <h3 class="popular-burger-name">Combo Meal</h3>
      <p class="popular-burger-price">$3.79</p>
    </button>
  </li>
</ul>
