<h2><span class="bold">Hey,</span>what's up?</h2>
<ul class="burgers">
  <li class="burger">
    <button>
      <img class="burger-picture" />
      <h3 class="burger-name">Combo Meal</h3>
      <p class="burger-promo">20% off</p>
    </button>
  </li>
  <li class="burger">
    <button>
      <img class="burger-picture" />
      <h3 class="burger-name">Combo Meal</h3>
      <p class="burger-promo">20% off</p>
    </button>
  </li>
  <li class="burger">
    <button>
      <img class="burger-picture" />
      <h3 class="burger-name">Combo Meal</h3>
      <p class="burger-promo">20% off</p>
    </button>
  </li>
  <li class="burger">
    <button>
      <img class="burger-picture" />
      <h3 class="burger-name">Combo Meal</h3>
      <p class="burger-promo">20% off</p>
    </button>
  </li>
  <li class="burger">
    <button>
      <img class="burger-picture" />
      <h3 class="burger-name">Combo Meal</h3>
      <p class="burger-promo">20% off</p>
    </button>
  </li>
  <li class="burger">
    <button>
      <img class="burger-picture" />
      <h3 class="burger-name">Combo Meal</h3>
      <p class="burger-promo">20% off</p>
    </button>
  </li>
</ul>
